.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(21, 30px);
  width: 630px;
  height: 630px;
  background-color: rgb(183 180 180);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.buttonBoard {
  width: 50px;
  height: 30px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 25px;
  border: 2px solid black;
  border-radius: 20%;
}

/* .player {
  width: 20px;
  height: 20px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid red;
} */

.triangle {
  position: absolute;
  width: 0;
  height: 0;
}

.up {
  border-right: 10px solid transparent;
  border-bottom: 15px solid red;
  border-left: 10px solid transparent;
}

.right {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid red;
}

.down {
  border-top: 15px solid red;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.left {
  border-top: 10px solid transparent;
  border-right: 15px solid red;
  border-bottom: 10px solid transparent;
}
